block vars 
doctype html
html
  head
    title SVCC Auth | #{title}
    link(type="text/css",rel="stylesheet", href="../css/bootstrap.min.css")

  body
    link(type="text/css",rel="stylesheet", href="../css/bootsnipLogin.css")
    .container
      .row
        .col-md-4.col-md-offset-7
          .panel.panel-default
            .panel-heading
              if error
                p=error
              span.glyphicon.glyphicon-lock
              |  Login
            .panel-body
              form.form-horizontal(role='form',method="post")
                input(type="hidden", name="_csrf", value=csrfToken)
                .form-group
                  label.col-sm-3.control-label(for='inputEmail3')
                    | Email
                  .col-sm-9
                    input#inputEmail3.form-control(type='email',name="email", placeholder='Email', required='true')
                .form-group
                  label.col-sm-3.control-label(for='inputPassword3')
                    | Password
                  .col-sm-9
                    input#inputPassword3.form-control(type='password', name="password", placeholder='Password', required='')
                .form-group
                  .col-sm-offset-3.col-sm-9
                    .checkbox
                      label
                        input(type='checkbox')
                        |                                     Remember me
                .form-group.last
                  .col-sm-offset-3.col-sm-9
                    button.btn.btn-success.btn-sm(type='submit')
                      | Sign in
                    button.btn.btn-default.btn-sm(type='reset')
                      | Reset
            .panel-footer
              | Not Registered? 
              a(href='http://happerfamily.weebly.com') Register here