extends ../layout

block vars
  - var title = 'Add Comment'

block body
  h1 Add Comment
  form(method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
    input(type="hidden", name="commentAuthor", value=#{user._id})

    span Comment Body:
    input(type="text", name="activityName", required=true)
    br

    span We'll need to add more, but this is it for now!
    br

    input(type="submit")
